#divContent > form, #divContent div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divContent > form {
    width: 100%;
    flex-direction: column;
}


#divContent div {
    width: 80%;
    margin: 10px;
    /* border: 1px solid black; */
}

input{
    width: 100%;
    height: 30px;
    display: inline-flex;
    margin: 10px;
}

#txt2{
    background-color: beige;
    color: blue;
}

button{
    width: 30%;
    display: inline-flex;
    margin: 10px;
}

/* css 선택자


* (전체 선택자, head 요소도 포함)
태그명 (태그 선택자)
#아이디명 (아이디 선택자)
.클래스명 (클래스 선택자)
태그[속성] , 태그[속성=값] (속성 선택자) 


*/