body {
    background-color: rgb(240, 214, 240);
    margin: 30px;
}

#content {
    background-color: white;
}

h1,h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    height: 120px;
    color: white;
    background-color: rgb(143, 60, 143);
}

h2 {
    background-color: rgb(97, 0, 97);
    color: white;
    padding: 20px;
}

#list , #cf{
    display: inline-flex;
    flex-direction: column;
}

#list{
    list-style-type: upper-roman;
}
#list a {
    background-color: rgb(97, 0, 97);
    color: white;

    display: inline-block;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 10px;
    margin: 10px;

    border-radius: 10px;
    text-decoration: none;
    padding-left: 20px;
}

#list a:hover{
    background-color: plum;
}

#cf{
    list-style: none;
    display: flex;
}

#cf a {
    text-decoration: none;
    color: black;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

